* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.css text eol=lf
*.env.example text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.service text eol=lf
*.sh text eol=lf
*.svg text eol=lf

*.jpg binary
*.png binary
